.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #fafafc;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-header {
  background-color: #333;
  padding: 2em;
  text-align: center;
  color: #fff;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.App-main-title {
  font-family: "ColfaxAI", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 2.75rem;
  margin-bottom: 0.5em;
  letter-spacing: 2px;
  text-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
}
.App-main-title::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #dddddd;
  transition: width 0.3s ease;
}
.App-main-title:hover::before {
  width: 100%;
}
.App-main-title:hover {
  text-shadow: 7px 6px 8px rgb(0 0 0 / 46%);
  cursor: default;
}

.App-main-subtitle {
  font-family: "ColfaxAI", Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 0;
  opacity: 0.8;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.App-main-subtitle p {
  font-size: 1em;
}

.App-generation-interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-prompt {
  background: #fff;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
  height: 120px;
  width: 70vw;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  resize: none;
  margin-bottom: 20px;
  transition: box-shadow 0.2s ease-in-out;
}

.App-prompt:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.App-prompt:focus {
  outline: none;
  border-color: #a0a0a0;
}

.App-prompt::placeholder {
  color: #a0a0a0;
}

.App-prompt::-webkit-scrollbar {
  width: 8px;
}

.App-prompt::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.App-prompt::-webkit-scrollbar-track {
  background-color: transparent;
}

.App-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 8px;
  background: linear-gradient(to right, #617bff, #83a6ff);
  border: none;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-left: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.App-button:focus {
  outline: none;
}

.App-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.App-button:hover:not(:disabled) {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.App-button:active {
  transform: translateY(1px);
  letter-spacing: 2px;
}

.random-prompt-generator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

.need-inspiration {
  font-size: 0.5em;
}

.random-prompt-button {
  outline: none;
  height: fit-content;
  width: fit-content;
  text-align: center;
  font-size: 0.25em;
  padding: 5px 10px;
  border-radius: 8px;
  background: linear-gradient(to right, #a2c3d9, #8d9db6);
  border: none;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: none;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-left: 1em;
}

.random-prompt-button:focus {
  user-select: none;
}

.random-prompt-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.random-prompt-button:active {
  letter-spacing: 2px;
}

.App-error-message {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  padding: 10px;
  font-size: 0.9rem;
  margin-top: 1em;
  width: 70vw;
  max-width: 800px;
}

.Spinner {
  margin: 100px 0;
}

.App-parameters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-image-count,
.App-dimension-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.App-image-count-label,
.App-dimension-selection-label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.5em;
}

.App-image-count-selector,
.App-dimension-selection-selector {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.5em;
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
}

.App-image-count-selector {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0.4em 0.6em;
  width: 60px;
  text-align: center;
}

.App-dimension-selection-selector {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0.4em 0.6em;
  width: 100px;
  text-align: center;
}

.App-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 1em;
}

.App-image {
  height: 400px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.25s ease;
}

.App-image:hover:not(:disabled) {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 20px;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

  .App {
    max-width: 100%;
    overflow-x: hidden;
  }

  .App-prompt {
    width: 75vw;
  }

  .App-results {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin: 1em 0;
  }

  .App-image {
    height: 300px;
    width: 300px;
  }

  .footer {
    max-width: 100vw;
    padding: 20px 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #333333;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 5px 0;
}

.social-icons {
  margin-top: 8px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  margin: 0 5px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}

.footer-link {
  color: #007bff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
