.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #fafafc;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-main-title {
  font-family: ColfaxAI,Helvetica,sans-serif;
  color: black;
}

.App-image {
  height: 100%;
  max-height: 50vh;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.App-prompt {
  font-family: inherit;
  font-size: 20px;
  height: fit-content;
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
  width: 52vw;
  max-width: 800px;
  margin: 1em;
}

.App-button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.App-button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.App-button:main,
.App-button:focus {
  user-select: auto;
}

.App-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.App-button:disabled {
  cursor: auto;
}

.App-error-message {
  color: #D8000C;
  background-color: #FFBABA;
}

.Spinner {
  margin: 100px;
}

.App-image-count, .App-dimension-selection {
  font-family: ColfaxAI,Helvetica,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.App-image-count-label, .App-dimension-selection-label {
  font-size: 0.75em;
  margin: 0.75em;
  color: black;
}

.App-image-count-selector, .App-dimension-selection-selector {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.5em;
  margin: 0;
  font-family: inherit;
  font-size: 0.75em;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.App-results {
  max-width: 75vw;
  margin-bottom: 2em;
}